@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* colors */

:root {
    --box-shadow: 0 2px 16px 0 rgb(0 0 0 / 8%);
    --blue: #15226d;
    --dark-blue: #040c50;
    --orange: #ea4b01;
    --light-blue: #0097cf;
    --yellow: #f9d98a;
    --subtle-yellow: #f3ce63;
    --vivid-yellow: #ffb700;
    --red: #cf4a60;
    /* --dark: #444; */
    /* --dark: #232a35; */
    /* --dark: #171d25; */
    --dark: #0c1118;
    --dark-l: #343c4a;
    --white: #fff;
    --light-grey: #f5f5f5;
    --mid-grey: #f3f3f3;
    --subtle-grey: #eee;
    --dark-grey: #6c757d;
    --subtle-blue: #9ebcd2;
    --counter-blue: #6388F3;
    --text-color: #252525;
    --green: #30c78d;

    --border: 1px solid rgba(255, 255, 255, 0.5);
}

/* base setup */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--dark);
    color: var(--light-grey);
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: var(--light-grey);
    text-align: center;
    margin-top: 2.5rem;
    text-transform: uppercase;
    padding: 2rem 0rem;
    font-size: 2.5rem;
}

h2 {
    margin-bottom: 1rem;
}

h2.handle {
    color: var(--dark-grey);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    /* border-bottom: var(--border); */
    background-color: #02010c;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

header > div *:first-child {
    margin-right: 10px;
}

header > div *:last-child {
    font-size: 20px;
}

header img {
    border-radius: 50%;
    height: 35px;
}

header nav img {
    width: 35px;
    /* margin-left: 10px; */
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    li:last-of-type button {
        padding: 0 0;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        height: 30px;
        width: auto;
    }
}

nav ul {
    display: flex;
}

nav ul li:not(:last-child) {
    margin-right: 10px;
}

nav .search-bar {
    outline: none;
    padding: 8px 16px;
}

header i {
    font-size: 18px;
}

.nav *:not(:last-child) {
    margin-right: 15px;
}

header {
    padding: 1% 1%;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
    color: var(--white);
}

nav button {
    border: var(--border);
    color: var(--white);
    padding: 3px 6px;
    border-radius: 5px;
}

.edit-profile {
    padding: 8px 16px;
    width: 100%;
    border-radius: 5px;
    border: var(--border);
    background-color: #232a35;
    color: var(--white);
}

nav:not(header > nav) {
    background-color: #02010c;
    padding: 1% 1%;
    margin-bottom: 25px;
    border-bottom: var(--border);
    ul {
        display: flex;
        align-items: center;
    }
    i {
        font-size: 14px;
    }
}

nav:not(header > nav) i {
    margin-right: 8px;
}

main, footer {
    /* padding: 2% 20%; */
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0% 1.5%;
}

section {
    display: flex;
    flex-direction: column;
    border: var(--border);
}

.content {
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
}

.user-info {
    flex-basis: 30%;
    border: var(--border);
    max-width: 300px;
}

.user-info .profile-photo {
    position: relative;
}

.user-info .profile-photo img {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
}

.user-info .profile-photo .status {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 15%;
    right: 5%;
}

.projects-overview {
    margin-left: 15px;
    /* flex-basis: 70%; */
    border: var(--border);
}

.pinned {
    display: flex;
    flex-direction: column;
}

.pinned .pinned-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    gap: 10px;
    /* width: 100%; */
}

.pinned div:last-of-type .project {
    flex-basis: calc(50% - 10px);
    border: var(--border);
    border-radius: 3px;
}

.activity {
    width: 80%;
    display: flex;
}

.contributions {
    border: var(--border);
    border-radius: 3px;
    padding: 10px 10px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(53, 10px);
    grid-gap: 2px;
    padding: 10px 10px;
    /* border: var(--border); */
    /* border-radius: 3px; */
    width: 100%;
}

.calendar-header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
}

.calendar-container {
    display: flex;
    height: 100%;
    font-size: 14px;
    width: 100%;
}

.calendar-container div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}

.day {
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 2px;
}
.day.level-1 {
    background-color: #9be9a8;
}

.day.level-2 { 
    background-color: #40c463;
}

.day.level-3 { 
    background-color: #30a14e;
}

.day.level-4 { 
    background-color: #216e39;
}

footer {
    text-align: center;
}